
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}
#drejt{
    display:flex;
}
#main{
    display: flex;
align-items: center;

}
.butoni1{
    border: 3px solid blue;
    height: 25px;
}
.purch{
    border: 3px solid yellow;
    height: 25px;
}
